* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Responsive design fluid pattern................................... */

.page {
  display: flex;
  flex-wrap: wrap;
  font-family: 'IBM Plex Mono', monospace;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #5995DA;
}

.header {
  background-color: #B2D6FF;
  height: 60px;
}

.content {
  background-color: #ffffff;
  padding: 16px;
}

/* Layout............................................................ */

.content h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.content h3 {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 0.6em;
}

.content p,
.content ol,
.content ul {
  margin-bottom: 1.2em;
  line-height: 1.4;
}

.content pre {
  color: #000040;
  background-color: #f5f4f2;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px;
  font-family: 'Menlo', 'Lucida Console', 'Monaco', monospace;
  font-size: 1rem;
}

.content blockquote {
  background-color: #fff8e0;
  margin-bottom: 1em;
  padding: 0.4rem 1rem 0.4rem 2rem;
  border-left: 0.6rem solid #ffe8b0;
}

blockquote > :last-child { margin-bottom: 0 !important; }

.footer {
  background-color: #f5f4f2;
  height: 70px;
}

/* Post.............................................................. */

.post div.release-date {
  color: #c0c0c0;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.post div.text > p:first-child {
  color: #606060;
  font-size: 1.2rem;
  font-style: italic;
  width: 38em;
}

.post h3 {
  color: #606060;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}

/* Log............................................................... */

.log h3 {
  color: #606060;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}

.log h3 span {
  color: #c0c0c0;
  font-size: 1.4rem;
}

.log p {
  width: 32rem;
}

.log a:focus,
.log a:hover {
  text-decoration: none;
}

/* Links............................................................. */

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #4060b0;
}

a:visited {
  color: purple;
}

a:focus, a:hover {
  text-decoration: underline;
}

a:active {
  color: red;
}

a[href*="http"] {
  background: url('../images/external-link.svg') no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}

/* Mobile Styles..................................................... */

@media only screen and (max-width: 400px) {
  body {
    background-color: #808080;
  }

  .content {
    align-items: normal;
  }
}

/* Tablet Styles..................................................... */

@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #c0c0c0;
  }
  .header {
    width: 40%;
  }
  .menu {
    width: 60%;
  }

  pre {
    width: 37rem; /* Roughly 72 characters */
  }
}

/* Desktop Styles.................................................... */

@media only screen and (min-width: 961px) {
  body {
    background-color: #ffffff;
  }
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .header {
    width: 30%;
  }
  .menu {
    width: 70%;
  }

  pre {
    width: 37rem; /* Roughly 72 characters */
  }
}
