/* Responsive design fluid pattern................................... */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* padding and border are included in the total width and height of the elements */
}

/* Base styles (to be placed above the @media rules)................. */

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header, 
.footer {
  height: 40px;
}

/* Layout and background color....................................... */

.content {
  padding: 16px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.content pre {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 12px 16px;
}

.content blockquote {
  margin-bottom: 1rem;
  padding: 0.8rem 1rem 0.8rem 1.6rem;
  border-left: 0.6rem solid #f1f2b3;
}

blockquote > :last-child { margin-bottom: 0 !important; }

/* Colors............................................................ */

body {
  background-color: #cdca96;
}

.content {
  background-color: #ffffff;
  color: #404040;
}

a:link,
.log h3,
.post h3,
.post div.text > p:first-child {
  color: #007090;
}

.log h3 {
  border-bottom: 1px solid #00709040;
}

.log a,
.log a:visited {
  color: #002040;
}

.content blockquote {
  background-color: #fdfbd4;
  color: #300000;
}

.release-date,
.footer,
.footnotes ol {
  color: #808080;
}

.footnotes hr {
  border-top: 1px dotted #c0c0c0;
}

.content pre code {
  color: #00f400;
}

.content pre {
  background-color: #323232;
}

a:visited {
  color: purple;
}

a:active {
  color: red;
}

/* Color preferences................................................. */

@media (prefers-color-scheme: dark) {
  .content {
    background-color: #040404;
    color: #e0e0e0;
  }

  .log h3,
  .post h3,
  .post div.text > p:first-child {
    color: #40c0e0;
  }

  blockquote > a:link {
    color: #40a0c0;
  }

  .log h3 {
    border-bottom: 1px solid #40c0e080;
  }

  .log a,
  .log a:visited {
    color: #e0e0e0;
  }
}

/* Typography (including line height and margin)..................... */

.page {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
}

.content h1 {
  margin-bottom: 2rem;
}

.content p,
.content ol,
.content ul {
  margin-bottom: 1.2rem;
}

.content ol li,
.content ul li {
  margin-left: 1rem;
}

.header a {
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: -0.06rem;
}

.menu,
.release-date,
.footer {
  font-weight: 300;
}

.release-date,
.footer,
.footnotes ol {
  font-size: 0.9rem;
}

.content pre code {
  font-family: 'IBM Plex Mono', 'Lucida Console', 'Monaco', monospace;
  font-size: 1rem;
}

strong {
  font-weight: 600;
}

/* Typography > Post................................................. */

.post h3 {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 0.4rem;
}

.post div.release-date {
  margin-bottom: 1rem;
}

.post div.text > p:first-child {
  width: 80%;
  font-size: 1rem;
  font-style: italic;
}

/* Typography > Log.................................................. */

.log h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.log p {
  margin-bottom: 0;
}

.log a,
.log a:visited {
  font-weight: normal;
}

.log a:focus,
.log a:hover {
  text-decoration: none;
}

/* Links............................................................. */

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-weight: 600;
}

a:focus, a:hover {
  text-decoration: underline;
}

a[href*="http"] {
  background: url('../images/external-link.svg') no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}

.header a:link, 
.header a:visited,
.menu a:link,
.menu a:visited {
  color: #007090;
}

.header a:focus, 
.header a:hover,
.menu a:focus,
.menu a:hover {
  color: #00A0C0;
  text-decoration: none;
}

/* Mobile Styles. Dimensions are given in logical units.............. */

@media only screen and (max-width: 400px) {
  .content {
    padding: 6px;
    font-size: 1rem;
  }
}

/* Tablet Styles..................................................... */

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header {
    width: 40%;
    height: 50px;
  }
  .header a {
    font-size: 3rem;
  }
  .menu {
    width: 60%;
  }
  .content {
    padding: 10px;
    font-size: 1rem;
  }
}

/* Desktop Styles.................................................... */

@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .header {
    width: 50%;
    height: 60px;
  }
  .header a {
    font-size: 3.5rem;
  }
  .menu {
    width: 50%;
  }
}
